Multiple Linear Regression

In [3]:
import pandas as pd 

df = pd.read_csv("./dataset/homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

Data Pre-processing :

In [4]:
df.bedrooms.median() #meadian of bedrooms

4.0

In [11]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median()) #null value fill-up
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

Linear Model Fit :

In [12]:
from sklearn import linear_model

reg = linear_model.LinearRegression()
reg.fit(df.drop('price',axis='columns'),df.price)

LinearRegression()

In [13]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [14]:
reg.intercept_

221323.00186540408

Find price of home with 2500 sqr ft area, 4 bedrooms, 5 year old

In [15]:
reg.predict([[2500, 4, 5]])

c:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([578876.03748933])

Scatter and Ploting Visualization :

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline